body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
}


h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#question {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

#options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 25px;
}

.option {
  padding: 15px;
  font-size: 16px;
  border: 2px solid #007bff;
  background: white;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  background: #e9f2ff;
}

.option.selected {
  background: #007bff;
  color: white;
  font-weight: bold;
}

#next-btn {
  display: block;
  margin-left: auto;
  padding: 12px 30px;
  font-size: 16px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#next-btn:hover {
  background: #218838;
}

