body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#question-image {
    max-width: 100%;
    max-height: 75vh;
    height: auto;
    display: block;
    margin-bottom: 20px;
}


#options {
    display: flex;
    flex-direction: column; /* VERY IMPORTANT */
    gap: 15px;
    margin-top: 20px;
}


.option {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #1e88e5;
    background: white;
    border-radius: 6px;
    width: 120px;
    text-align: center;
}

.option:hover {
    background: #1e88e5;
    color: white;
}

.option.selected {
    background: #1e88e5;
    color: white;
}
